<h1>Menu de Opciones</h1>
<nav navbar navbar-expand-lg navbar-light bg-light>
  <a routerLink="/home" routerLinkActive="active-link">Home</a>
  <a routerLink="/localidad" routerLinkActive="active-link">---ABM Localidad</a>
  <a routerLink="/tipo-mascota" routerLinkActive="active-link">---ABM Tipo de Mascota</a>
  <a routerLink="/producto" routerLinkActive="active-link">---ABM Producto</a>
  <a routerLink="/sucursal" routerLinkActive="active-link">---ABM Sucursal</a>
  <a routerLink="/proveedor" routerLinkActive="active-link">---ABM Proveedor</a>
  <a routerLink="/precio" routerLinkActive="active-link">---ABM Precio</a>
  <a routerLink="/cliente" routerLinkActive="active-link">---ABM Cliente</a>
</nav>
