.img{
  width: 80px;
  height: 80px;
  border-style: none;
  vertical-align: top;
}
.form-control{
  width: 100px;
  height: 38px;
  text-align: center;
  display: inline;
}
.va{
  width: 200px;
}
.c-va{
  position: absolute;
  width: auto;
  left: 915px;
  top: 700px;
}
.cv{
  position: absolute;
  left: 230px;
  top: 500px;
}
.container{
  padding: 1px;
  overflow: auto;
}
.conva{
  position: absolute;
  right: -90px;
  top:100px
}
.btn{
  height: 38px;
  position: center;
  margin: auto ;

}
.body{
background-color:lightgray;
  height: 870px;
}
.item{
  position: center;
}
.btn-c{
  position: relative;
  right: 10px;

}
.btn-v{
  position: relative;
  right: 20px;
}
.in{
  background-color:lightgreen;
  width: 200px;
  height: 38px;
  text-align: center;
  display: inline;
}
.col{
  width: 25px!important;
}
.footer
{
  background-color: #FF7F50;
  height: 57px;
  width: auto;
}
.can{
  position: relative;
  left: 190px;
  top:-8px;
}
.pu{
  position: relative;
  left: -96px;
  top:-8px;
}
.cant{
  position: relative;
  left: 150px;
}
.text-pre{
  position: relative;
  left: 150px;
}
.text-can{
  position: relative;
  width: 100px;
  height: 35px;
  left: 280px;
}
.btn-res{
  position: relative;
  right:320px;
  height: 35px;
  top: 1px;
  text-align: center;
}
.text-pre{
  position: absolute;
  left: 100px;
  top:0px;
}
.btn-sum{
  position: relative;
  right:80px;
  height: 35px;
  top: 1px;
  text-align: center;
}
.des{
  max-font-size: 20px;
}
.h2\+-{
  position: relative;
  bottom: 15px;
}
.text-title{
  position: relative;
  right: 230px;
}
.text-sub{
  position: relative;
  right:-162px;
  top:0px;
}
.su{
  position: absolute;
  left: 494px;
  top:-8px;

}
.car{
  position: absolute;
}
.comprar{
  float: right;
}
.total{
  float: right;
}
input[type=number] { -moz-appearance:textfield; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.titulo{
  position: relative;
  right:-420px;
  top:-5px;
}
.card-title{
  position: relative;
  right: -250px;
  top: -6px;
}
.cv{
  position: relative;
  top: -10px;
  left: 0px;
}
