<div class="blog-card alt">
  <div class="meta">
    <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>

  </div>
  <div class="description">
    <h1>{{productoDetalle.nombre}}</h1>
    <h2>$500</h2>
    <p>Marca:   {{productoDetalle.marca}}</p>
    <p>{{productoDetalle.descripcion}}</p>
    <p>Peso:  {{productoDetalle.peso}}</p>
    <p class="read-more">
      <button type="button" class="btn btn-outline-dark" href="#">Añadir al carrito</button>
    </p>
  </div>
</div>

