<div class="row">

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">

        <form #proveedorForm="ngForm" (ngSubmit)="addProveedor(proveedorForm)">

          <input type="hidden" name="_id" [(ngModel)]="proveedorService.selectedProveedor._id">

          <div class="form-group mt-2 mb-2">
            <input type="text" name="cuil" class="form-control" placeholder="Ingrese el cuil del Proveedor" [(ngModel)]="proveedorService.selectedProveedor.cuil">
          </div>

          <div class="form-group mt-2 mb-2">
            <input type="text" name="cuit" class="form-control" placeholder="Ingrese el cuit del Proveedor" [(ngModel)]="proveedorService.selectedProveedor.cuit">
          </div>

          <div class="form-group mt-2 mb-2">
            <input type="text" name="razonSocial" class="form-control" placeholder="Ingrese la Razon Social del proveedor" [(ngModel)]="proveedorService.selectedProveedor.razonSocial">
          </div>

          <div class="form-group mt-2 mb-2">
            <input type="text" name="email" class="form-control" placeholder="Ingrese el email del proveedor" [(ngModel)]="proveedorService.selectedProveedor.email">
          </div>

          <div class="form-group mt-2 mb-2">
            <input type="text" name="telefono" class="form-control" placeholder="Ingrese el telefono del proveedor" [(ngModel)]="proveedorService.selectedProveedor.telefono">
          </div>

          <button type="reset" class="btn btn-primary me-1 mt-2" (click)="resetForm(proveedorForm)">
            Limpiar
          </button>

          <button type="submit" class="btn bg-light me-1 mt-2" (click)="Refrescar()">
            Guardar
          </button>
        </form>

      </div>
    </div>
  </div>

  <div class="col-md-8">

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Cuil</th>
        <th scope="col">Cuit</th>
        <th scope="col">Razon Social</th>
        <th scope="col">email</th>
        <th scope="col">telefono</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let proveedor of proveedorService.proveedor">
        <td>{{ proveedor.cuil }}</td>
        <td>{{ proveedor.cuit }}</td>
        <td>{{ proveedor.razonSocial }}</td>
        <td>{{ proveedor.email }}</td>
        <td>{{ proveedor.telefono }}</td>
        <td>
          <button class="btn btn-light btn-sm" (click)="editProveedor(proveedor)">
            <i class="material-icons">edit</i>
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteProveedor(proveedor._id)">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
