<section>
  <div class="card estilo-c" *ngFor="let producto of productoService.producto">

      <div class="img-container">
        <img src="{{producto.imgUrl}}" alt="producto 1">
        <span class="promo">{{producto.promo}}% de descuento</span>
      </div>

    <div class="info-container">
      <h3>{{producto.nombre}}</h3>
      <span class="rating">{{producto.peso}} kg</span>
      <button (click)="OpenDetails(producto._id)" class="add-cart">Ver detalle</button>
    </div>
    <br>
  </div>
  <div class="card estilo-c">
  </div>
</section>
