<section>
  <div class="card estilo-c" *ngFor="let producto of productoService.producto">
    <a href="/precio">
      <div class="img-container">
        <img src="https://images.pexels.com/photos/4465124/pexels-photo-4465124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="producto 1">
        <span class="promo">15% de descuento</span>
      </div>
    </a>
    <div class="info-container">
      <h3>{{producto.nombre}}</h3>
      <span class="rating">{{producto.peso}}</span>
      <button (click)="OpenDetails(producto._id)" class="add-cart">Ver detalle</button>
    </div>
    <br>
  </div>
  <div class="card estilo-c">
  </div>
</section>
