<!--
<h2>Detalle de Producto</h2>
<div *ngIf="productoDetalle" class="card estilo-b">
  <div class="img-container">
    <img src="https://images.pexels.com/photos/4465124/pexels-photo-4465124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="producto 1">
    <span class="favorite">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/></svg>
          </span>
  </div>
  <p>{{productoDetalle.nombre}}</p>
  <p>{{productoDetalle.marca}}</p>
  <p>{{productoDetalle.descripcion}}</p>
  <p>{{productoDetalle.peso}}</p>
  $500
  <button href="#">Añadir a carrito</button>
</div>
-->
<!--
<div class="completo">
<body>
  <div class="container-all">
    <img src="https://images.pexels.com/photos/4465124/pexels-photo-4465124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="producto 1">
    <p class="sub-title">{{productoDetalle.nombre}}</p>
    <p>{{productoDetalle.marca}}</p>
    <p>{{productoDetalle.descripcion}}</p>
    <p>{{productoDetalle.peso}}</p>
  </div>

</body>
</div>

<div class="blog-card alt">
  <div class="meta">
    <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>

  </div>
  <div class="description">
    <h1>{{productoDetalle.nombre}}</h1>
    <h2>$500</h2>
    <p>Marca:   {{productoDetalle.marca}}</p>
    <p>{{productoDetalle.descripcion}}</p>
    <p>Peso:  {{productoDetalle.peso}}</p>
    <p class="read-more">
      <button type="button" class="btn btn-outline-dark" href="#">Añadir al carrito</button>
    </p>
  </div>
</div>

-->


